<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Shanon.Leads.VerifyLeadCreation"/>
      <class name="com.Shanon.Leads.VerifyLeads"/>
      <class name="com.Shanon.Leads.VerifyDashbords"/>
      <class name="com.Shanon.login.ValidLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
